*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.contents{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
